[submodule "spi"]
	path = spi
	url = https://github.com/ddening/spi.git
[submodule "queue"]
	path = queue
	url = https://github.com/ddening/queue.git
[submodule "ringbuffer"]
	path = ringbuffer
	url = https://github.com/ddening/ringbuffer.git
[submodule "stk600-switches"]
	path = stk600-switches
	url = https://github.com/ddening/stk600-switches.git
[submodule "w204-xlg"]
	path = w204-xlg
	url = https://github.com/ddening/w204-xlg.git
[submodule "i2c"]
	path = i2c
	url = https://github.com/ddening/i2c.git
[submodule "uart"]
	path = uart
	url = https://github.com/ddening/uart.git
[submodule "utility"]
	path = utility
	url = https://github.com/ddening/utility.git
[submodule "hd44780"]
	path = hd44780
	url = https://github.com/ddening/hd44780.git
