[submodule "spi"]
	path = spi
	url = https://github.com/ddening/spi.git
[submodule "queue"]
	path = queue
	url = https://github.com/ddening/queue.git
[submodule "libAVR/ringbuffer"]
	path = libAVR/ringbuffer
	url = https://github.com/ddening/ringbuffer.git
